@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #010101;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Urbanist, sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
}

p {
  user-select: none;
}

div {
  user-select: none;
}

.gradient-text {
  background: linear-gradient(to right, #00F5D4, #28FF27);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.hiddenEl{
  opacity: 0;
}

.gradient-text:hover {
  opacity: 0.8;
}

.gradient-button {
  background: linear-gradient(to right, #87FFFF, #16FF00);
  color: #000;
  border: none;
  padding: 14px 20px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.gradient-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(135, 255, 255, 0.3);
}

.floating-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: radial-gradient(151.05% 43.18% at 51.71% 0%, rgba(129, 187, 255, 0.2) 0%, rgba(25, 25, 25, 0) 100%), linear-gradient(360deg, #010101 0%, #171717 100%);
  box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.06), inset 0px -2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 230px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.snap-start {
  scroll-snap-align: start;
}

.bgblue {
  background: linear-gradient(141deg,rgba(129, 187, 255, 1) 0%, rgba(13, 14, 13, 1) 31%, rgba(13, 14, 13, 1) 75%, rgba(160, 255, 123, 1) 100%);
  border-radius: 20px;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;

}
.bgblue2 {
  background: linear-gradient(141deg,rgba(129, 187, 255, 1) 0%, rgba(13, 14, 13, 1) 31%, rgba(13, 14, 13, 1) 75%, rgba(160, 255, 123, 1) 100%);
  border-radius: 40px;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;

}